<p>Create User</p>
<form action="create" method="post">
  <p>name:</p>
 <input name="name" type="text" />
 <p>age:</p>
 <input name="age" type="number"/>
 <input type="submit" value="create!"/>
</form>
