<p>Create User</p>
<form action="create" method="post">
  <p>name:</p>
 <textarea name="name" cols="70" rows="20"></textarea>
 <p>age:</p>
 <input name="age" type="number"/>
 <input type="submit" value="create!"/>
</form>
